{% extends 'welcome.html' %}
{%block style%}<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/book.css') }}" >{%endblock%}
{% block form %}

<div class="body">
    <h1 class="text-center">{{book[0].title}}</h1>
    <h4 class="text-center">By: {{book[0].author}}</h4>
    <!--this to try show details in list format
    <ul>
    <li calss="listitem">author : {{book[0].author}}</li>
    <li calss="listitem">isbn : {{book[0].isbn}}</li>
    <li calss="listitem">Bublication Year : {{book[0].year}}</li>
    </ul>
    -->
    <p class="bookdetails text-center"><small>{{book[0].isbn}},{{book[0].year}}</small><p>
</div>




{% endblock  %}
{% block review %}

<div class="row d-flex justify-content-center mt-100">
    <div class="col-md-6 mb-4">
        <div class="card border-default">
            <div class="card-body">
                <div class="text-center">

                    <div class="d-inline align-baseline display-2 mr-1">{{deic["books"][0]["average_rating"]}}<span class="full-rating">/5</span></div>
                    <div class=" align-baseline text-sm text-warning mr-1"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                </div>
                
                
                <div class="pt-2">
                    <div class="pt-2">
                        <a class="btn btn-warning btn-block" href="{{url_for ( 'subreview' ,id=user[0].id, isbn=book[0].isbn)}}">Leave a Review</a>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>












{% for r in reviews %}

{%if r.isbn==book[0].isbn%}
<div class="singlereview">
    <ul>
        <li>User Name: {{r.fname}} {{r.lname}}</li>
        <li>Rate: {{r.rate}}</li>
        <li>Commint: {{r.commint}}</li>
    </ul>
</div>
{%endif%}
{% endfor %}


<div class="singlereview">
    <h1 class="text-center">Reviews from Goodreads</h1>
    <h4 class="text-left"> Number of Ratings : {{deic["books"][0]["ratings_count"]}}</h4>
    <h class="text-left"> Average of rating : {{deic["books"][0]["average_rating"]}}<p>
</div>

{% endblock  %}