<!DOCTYPE html>
<html>
    <head>
        <title> Wlecome </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
        {%block style%}<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/welcome.css') }}" >{%endblock%}
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Review</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            
            <form class="form-inline my-2 my-lg-0 reviewform" action="{{url_for('search',id=user[0].id)}}" method="post">
                <input class="form-control mr-sm-2" type="search" name="book" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0"  type="submit">Search</button>
            </form>

            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user[0].fname}} {{user[0].lname}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Favorite Books</a>
                <a class="dropdown-item" href="#">Last checked</a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('home')}}">LogOut</a>
                </div>
            </li>
            </ul>
        </div>
    </nav>
{% block form %}
<div class="body">
    <h1 class="text-center">Welcome {{user[0].fname}}</h1>
    <h4 class="text-center">You can search for any book you want</h4>
</div>

<div class="container">
    <div class="row">
    
        {% for b in booklist%}
        <div class="col-3 card">
        <p>isbn : {{b["books"][0]["isbn"]}}</p>
        <p>ratings_count : {{b["books"][0]["ratings_count"]}}</p>
        <p>reviews_count : {{b["books"][0]["reviews_count"]}}</p>
        <p>text_reviews_count : {{b["books"][0]["text_reviews_count"]}}</p>
        <p>work_ratings_count : {{b["books"][0]["work_ratings_count"]}}</p>
        <p>work_reviews_count : {{b["books"][0]["work_reviews_count"]}}</p>
        <p>work_text_reviews_count : {{b["books"][0]["work_text_reviews_count"]}}</p>
        <p>average_rating : {{b["books"][0]["average_rating"]}}</p>
        <form action="{{url_for ( 'book' ,id=user[0].id, isbn=b["books"][0]["isbn"])}}" method="post" >
        <button type="submit" class="btn btn-info" name="id" >Choose Book</button>
        </form>
        </div>
        {%endfor%}
    
    </div>
</div>
        
{% endblock  %}
{% block review %}

{% endblock  %}
    </body>
</html>